@import url("https://fonts.googleapis.com/css2?family=Eczar&display=swap");

.carrousel-div {
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.legend {
  top: 40px !important;
  bottom: auto !important;
  bottom: auto !important;
  left: auto !important;
  margin-left: auto !important;
  width: 100% !important;
  background: rgba(0, 0, 0, 0.445) !important;
  opacity: 100 !important;
  border-radius: 0px !important;
}

.carrousel-image {
  width: 10%;
  top: 0;
  position: absolute;
}

.carrousel-title {
  font-size: 50px !important;
  font-weight: 500 !important;
  font-family: "Eczar", serif !important;
  color: white !important;
}

.imagen-hotel-carrousel {
  height: 350px;
  object-fit: cover;
}

.carrousel-main {
  margin-bottom: 50px;
}
