@import "../constants/constants";

.header-main {
  display: flex !important;
  flex-direction: row !important;
  height: $alturaHeader;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px #e0e0e0;
}

.header-login {
  font-size: large !important;
  color: #5d686e;
  height: $alturaHeader;
  padding: 20px;
  cursor: pointer;
  font-weight: 400;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.header-login:hover {
  background-color: #ebeced;
  height: $alturaHeader;
  color: #1890ff;
}

.header-image {
  cursor: pointer;
  width: 50px;
  margin-left: 30px;
}

.header-menu {
  font-size: large;
  color: #5d686e;
  height: $alturaHeader;
  padding: 20px;
  font-weight: 400;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.header-menu:hover {
  background-color: #ebeced;
  color: #1890ff;
  cursor: pointer;
}

.header-buttons {
  margin-right: 30px;
  display: flex;
}

.header-menu-item {
  font-weight: 400;
}

@media only screen and (max-width: 1900px) {
  .header-buttons {
    margin-right: auto;
  }

  .header-main {
    padding: 15px;
  }
}

.media {
  width: 30px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
  border-radius: 5px;
  font-size: x-large;
  font-weight: 700 !important;
}