@import "../constants/constants";

.recomended-main {
  margin: $alturaHeader/2 $marginrighleft 0 $marginrighleft;
}

.map-container-main {
  margin-top: 25px;
  width: 100%;
  height: 500px;
  position: relative;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.mapboxgl-control-container {
  display: none;
}

.mapboxgl-popup-close-button {
  &:focus {
    outline: 0px;
  }
}

.mapboxgl-canvas {
  &:focus {
    outline: 0px;
  }
}

.mapboxgl-popup-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 300px;
}

.imagen-popup {
  width: 100px;
  height: 100px;
  margin-right: 8px;
}

.popup-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titulo-popup {
  font-weight: 600;
  font-size: 12px !important;
  margin-bottom: 0em;
}

.info-popup {
  font-size: 11px;
  margin-bottom: 0em;
}


@media only screen and (max-width: 1900px) {
  .recomended-main {
    margin: $alturaHeader/2 $marginrighleft/10 0 $marginrighleft/10;
  }
}

.marker {
  background-image: url('images/placeholder.svg');
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.playas{
  cursor: pointer;
  background-image: url('images/playa.svg');
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.bares{
  cursor: pointer;
  background-image: url('images/bar.svg');
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.ferias{
  cursor: pointer;
  background-image: url('images/feria-estatal.svg');
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.calas{
  cursor: pointer;
  background-image: url('images/playa.svg');
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mercados{
  cursor: pointer;
  background-image: url('images/carrito-de-compras.svg');
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}